* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #3f464d;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #3f464d;
}

a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
  text-decoration: none;
  color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: #3f464d;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
}

li a {
  cursor: pointer;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.head-container .head-brand {
  font-weight: bold;
  font-style: 1.2rem;
}

.head-container .head-brand a:hover {
  color: #2186c4;
  cursor: pointer;
}

.head-container .head-blog {
  font-weight: bold;
  font-style: 1.2rem;
}

.head-container .head-blog a:hover {
  color: #2186c4;
  cursor: pointer;
}

section {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.main {
  z-index: 1;
  height: 360px;
  background-image: url("/img/header-main-img.jpg");
  background-size: cover;
  background-position: center 10%;
}

.main-container {
  z-index: 2;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  background-color: rgb(47, 48, 89);
  opacity: 0.8;
}

.title-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.message {
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
  line-height: 2rem;
}

.skill-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.skill {
  display: flex;
  align-items: center;
  width: 25%;
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  border-radius: 9px;
  background-color: #fff;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  transition: 0.4s;
}

.skill:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.skill-icon {
  margin: 0 10px;
  font-size: 2.5rem;
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 1rem;
}

.skill-name {
  margin-bottom: 0.2rem;
  color: #545e6f;
  font-weight: bold;
}

.skill-usage {
  color: #545e6f;
  font-size: 0.9rem;
}

.python-style {
  color: #2186c4;
}

.analysis-style {
  color: #ff8066;
}

.ai-style {
  color: #f7df1e;
}

.vue-style {
  color: #2e7d32;
}

.roadmap-container {
  width: 100%;
  margin-top: 1.5rem;
}

.roadmap-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.roadmap-title {
  color: #545e6f;
  font-size: 1.3rem;
  font-weight: bold;
}

.roadmap-desc {
  display: visible;
}

.arrow-container {
  display: flex;
}

.slide-prev {
  color: rgb(47, 48, 89);
  font-size: 2rem;
  cursor: pointer;
}

.slide-next {
  color: #cfd8dc;
  font-size: 2rem;
  cursor: pointer;
}

.class-list {
  display: flex;
  padding: 1rem 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.class-card {
  flex-shrink: 0;
  max-width: 240px;
  margin: 0 10px;
  border-radius: 8px;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  transition: 0.4s;
}

.class-card:hover {
  transform: translateY(-5px);
}

.class-image {
  width: 240px;
  border-radius: 8px 8px 0 0;
}

.class-container {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}

.class-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-type {
  color: #949393;
  font-size: 0.9rem;
}

.class-format {
  padding: 0.2rem;
  color: #fff;
  font-size: 0.9rem;
  background-color: #0d47a1;
}

.class-desc {
  width: 100%;
  margin-top: 1rem;
}

.class-title {
  width: 100%;
  margin-bottom: 0.5rem;
  color: #545e6f;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.class-detail {
  font-size: 0.9rem;
  color: #545e6f;
  line-height: 1.2rem;
}

footer {
  padding: 1rem 0;
  margin: 1rem 0;
  border-top: 1px solid #e4e4e4;
  background-color: #f8f9fa;
}

.footer-message {
  margin: 0.3rem 0.5rem;
  color: #545e6f;
  font-weight: bold;
}

.footer-contact {
  margin: 0 0.5rem;
  color: #545e6f;
}

.footer-copyright {
  margin: 1rem 0.5rem;
  color: #545e6f;
}

#backtotop {
  z-index: 99;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(47, 48, 89);
  transition-property: background-color, opacity, visibility;
  transition-duration: .3s, .5s, .5s;
  opacity: 0;
  visibility: hidden;
}

/* 
아이콘 적용 방법
1. ::after (요소 뒤에 content 추가) 가상 요소에서,
2. contetnt: "폰트어썸 유니코드"를 넣고,
3. font-family: FontAwesome 이라고 넣으면 됨
*/
#backtotop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-size: 1.5rem;
  line-height: 40px;
  color: #fff;
}

#backtotop.show {
  opacity: 1;
  visibility: visible;
  background-color: rgb(47, 48, 49);
}

#backtotop.show:hover {
  cursor: pointer;
  background-color: #2186c4;
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 980px) {
  .skill-container {
    display: none;
  }
}
